<h1>投稿されているタスク一覧</h1>
<div class = "contents row">
  <%= @tasks.each do |task| %>
    <p><%= task.user.name%></p>
    <p><%= task.created_at %></p>
    <p><%= task.priority.name %></p>
    <p><%= task.text %></p>
  <% end %>
</div>
