<h1>投稿されているタスク一覧</h1>
<div class = "contents row">
  <%= @tasks.each do |task| %>
    <p><%= task.created_at %></p>
    <p><%= task.priority.name %></p>
    <p><%= task.text %></p>
    <span><%= link_to '詳細', task_path(task.id) %></span>
  <% end %>
</div>