<span class = "change-btn" id = "change-btn">表示切替</span>

<div class = "index">
  <div id = "task-index">
    <h1>
    投稿されているタスク一覧
    </h1>
    <% @tasks.each do |task| %>
      <p><%= task.created_at %></p>
      <p><%= task.priority.name %></p>
      <p><%= task.text %></p>
      <span><%= link_to '詳細', task_path(task.id) %></span>
    <% end %>
  </div>

  <div id = "content-index">
    <h1>
    コンテンツ一覧
    </h1>
    <% @contents.each do |content| %> 
      <%= image_tag content.image.variant(resize:'500x500') %>
      <p><%= content.message %></p>
      <span><%= link_to '詳細', content_path(content.id) %></span>
    <% end %>
  </div>
</div>