<!DOCTYPE html>
<html>
  <head>
    <title>Task28412</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "side-bar">
      <ul>
        <% if user_signed_in? %>
          <li class = "menu"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout",class: "nav" %></li>
        <% else %>
          <li class = "menu"><%= link_to '新規登録', new_user_registration_path, class: "sign-up",class: "nav" %></li>
        <% end %>
        <% if user_signed_in? %>
          <li class = "menu"><%= link_to current_user.name, user_path(current_user.id), class: "user-name",class: "nav" %></li>
        <% else %>
          <li class = "menu"><%= link_to 'ログイン', new_user_session_path, class: "login",class: "nav" %></li>
        <% end %>

        <% if user_signed_in? %>
          <li class = "menu"><%= link_to 'あなたのタスク', user_path(current_user.id), class: "nav" %></li>
        <% else %>
          <li class = "menu"><%= link_to 'みんなのタスク', "/", class: "nav" %></li>
        <% end %>
        <li class = "menu"><%= link_to 'タスク入力', new_task_path, class: "nav" %></li>
        <li class = "menu"><%= link_to 'レスポンスコンテンツ入力', new_content_path, class: "nav" %></li>
      </ul>
    </div>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
